<center>
<h1>Go to you short link by typing
<br> http://minifyurl.herokuapp.com/links/(Your shortlink)</h1>
</center>

<table class="table">
  <thead>
    <tr>
      <th>Count</th>
      <th>Inputed Url</th>
      <th>Copy this shortlink</th>
      <th>
        <i class="icon-trash"></i>
    </tr>
  </thead>

  <tbody>
    <% @links.each_with_index do |link,index| %>
      <tr>
        <td><%= link_to index, link_path(link) %> </td>
        <td><%= link.url %></td>
        <td><%= link_to "minifyurl.herokuapp.com/links/"+link.shorturl.to_s,link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<div class="form-actions">
  <%= link_to 'New Link', new_link_path , :class => 'btn' %>
</div>
</center>
